.movie-counter {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    margin: 24px 0 24px 0;
}

.movie-counter strong {
    font-weight: 600;
}
