.App-main {
    margin-top: 10px;
    background: #232323;
    min-height: calc(100vh - 40vh - 10px);
    box-sizing: border-box;
    padding: 20px 57px 20px 59px;
}

.movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
}

.nav-panel {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.nav-panel::after {
    content: "";
    height: 0px;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #080707;
    display: block;
    width: 100%;
}