.main-button {
    background: #F65261;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-button:hover {
    cursor: pointer;
}